.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
}

.header a {
  display: flex;
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.img {
  margin-right: 5px;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgray;
  outline: 0;
  width: 3rem;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
